{% extends 'base.html' %}

{% block content %}

<h5>Body Metrics Tracker - Password Reset</h5>

{% if validlink %}

<p style="margin-top:22px">Please enter your new password twice</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1" style="margin-top:12px;margin-left:22px">
        {{ form.new_password1.errors }}
        <label for="id_new_password1" style="margin-right:26px">New password:   </label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2" style="margin-top:12px;margin-left:12px">
        {{ form.new_password2.errors }}
        <label for="id_new_password2" style="margin-right:12px">Confirm password:  </label>
        {{ form.new_password2 }}
    </div>
  <button type="submit" class="btn-primary"
          style="border-radius:3px;background-color:cornflowerblue;margin-top:26px;margin-left:14px">
    Change my password</button>
</fieldset>
</form>

{% else %}

<p style="margin-top:24px">The password reset link was invalid, possibly because it has already been used.</p>
<p>Please request a new password reset.</p>

{% endif %}

{% endblock %}